@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<button class="btn btn-success" onclick="jQueryGetCallGreetSync()">jQueryCallGreet(Get同步)</button>
<button class="btn btn-success" onclick="jQueryGetCallGreetAsync()">jQueryCallGreet(Get非同步)</button>
<button class="btn btn-success" onclick="jQuerPostCallGreetAsync()">jQueryPostCallGreet(post非同步)</button>
<img id="Progress" src="~/images/icons8-spinner.gif" style="display:none" asp-append-version="true" />
<div id="MyDiv"></div>
@section Scripts{
    <script>
        function jQueryGetCallGreetSync() {
            var p = encodeURI("Name=alln");
            $("#Progress").show();
            $.ajax({
                type: "GET",
                url: "https://localhost:7281/Ajax/Greet?" + p
            }).done(function (data) {
                $("#MyDiv").text(data);
                $("#Progress").hide();
            }).fail(function (error) {
                alert(error.responseText);
            });
        }
        function jQueryGetCallGreetAsync() {
            var p = encodeURI("Name=alln");
            $("#Progress").show();
            $.ajax({
                type: "GET",
                url: "https://localhost:7281/Ajax/Greet?" + p
            }).done(function (data) {
                $("#MyDiv").text(data);
                $("#Progress").hide();
            }).fail(function (error) {
                alert(error.responseText);
            });
        }
        function jQuerPostCallGreetAsync() {
            $("#Progress").show();
            $.ajax({
                type: "POST",
                data:{
                    Name:"alln"
                },
                url: "https://localhost:7281/Ajax/Greet",
            }).done(function (data) {
                $("#MyDiv").text(data);
                $("#Progress").hide();
            }).fail(function (error) {
                alert(error.responseText);
            });
        }
    </script>
}